<nav class="bg-red-500 p-4">
  <ul class="flex flex-right justify-end gap-8 w-full">
      <li class="font-medium text-white"><a href="/">Go Home</a></li>
      <li class="font-medium text-white"> <a href="/host/add-home">Add Home</a></li>
      <li class="font-medium text-white"><a href="/">Registered Home</a></li>
  </ul>
</nav>