<%- include('partials/head') %>
  </head>
  <body>
   
     <%- include('partials/navbar') %>
    <header>
      <h1 class="text-red-500 bg-slate-200 text-2xl border-2 border-slate-100 p-5 flex justify-center font-bold
       rounded-xl " >Home Registered successfully</h1>
    </header>
    <main class="p-5 flex justify-center font-medium text-white
    
    ">
      <a class="bg-slate-400 px-4 py-3 rounded-xl" href="/">Go to Home</a>
    </main>
  </body>
</html>
